/* HEADER OPTIONS */
html,
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222;
    font-size: 14px;
    line-height: 18px;
    background-color: #fdfcf0 !important;
}

a:hover{
    text-decoration: none!important;
}
p {
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: end;
    align-items: center;
    max-width: 100%;
    width: 980px;
    margin: 0 auto;
    padding: 0 20px;
}
.header-option {
    display: flex;
    justify-content: end;
}
.header-option > div {
    position: relative;
    width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    /* margin: 10px 0px -5px; */
}
.header-option > div:last-child {
    margin-right: 0px;
}
.header-option a {
    color: #666666;
}
.header-language-background a {
    text-decoration: none;
}


.header-information p,
.header-my-ticket p,
.header-account p {
    margin: 10px 0; /* Thiết lập margin theo ý muốn của bạn */
}

.header-information,
.header-my-ticket,
.header-account {
    transition: background-color 0.3s ease; /* Thêm transition để tạo hiệu ứng mượt khi hover */
}

.header-information:hover,
.header-my-ticket:hover,
.header-account:hover {
    background-color: #e1e4e8; /* Thay đổi màu nền khi hover */
}


.fa-solid.fa-user,
.fa-solid.fa-ticket,
.fa-solid.fa-circle-info {
    position: relative;
    top: -4px;
    margin-right: 3px;
}

/* HEADER CONTAINER */

.page-header {
    width: 100%;
    height: 135px;
    margin: 0 auto;
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-top.png)
        repeat-x scroll left bottom transparent;
    background-size: 10px 135px;
}
.page-header-container {
    position: relative;
    z-index: 2000;
    width: 980px;
    margin: 0 auto;
}

.logo {
    display: block;
    width: 100px;
    height: 135px;
    min-width: 100px;
    text-align: center;
}
.logo :hover {
    opacity: 0.8;
}
.logo img {
    width: 200px;
    height: 80px;
    margin-top: 28px;
}
.header-nav-bar {
    display: block;
    position: absolute;
    left: 210px;
    top: 75px;
}
ol,
li {
    list-style: none;
    float: left;
}

.level0-nav-1-parent {
    display: inline-block;
}
.header-nav-bar .nav-primary li a.level0-has-children {
    padding: 0 18px;
}
.header-nav-bar .nav-primary li a {
    color: rgb(34, 34, 34);
    font-weight: bold;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    line-height: 30px;
}
.nav-primary ul li {
    width: 98%;
}

.nav-primary li.level0-nav-1-parent {
    position: relative;
}

.nav-primary li.level0-nav-1-parent ul {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg_menu_hover.png)
        repeat scroll center center rgba(0, 0, 0, 0);
    left: 0; /* Đặt left về 0 */
    padding: 3px;
    position: absolute;
    min-width: 190px;
    max-width: min-content;
    z-index: 10;
    display: none;
}

/* Hiển thị dropdown khi hover và thiết lập left tương ứng với mục cha */
.nav-primary li.level0-nav-1-parent:hover ul {
    display: block;
    left: 0; /* Đặt left về 0 để dropdown nằm sát mục cha */
}

.nav-primary ul.level0 li:first-child {
    border-top: 2px solid #828282;
    padding-top: 10px;
}
.nav-primary ul.level0 li:last-child {
    border-bottom: 2px solid #828282;
    padding-bottom: 10px;
}
.nav-primary ul.level0 li {
    border-left: 2px solid #828282;
    border-right: 2px solid #828282;
}
.nav-primary ul.level0 a {
    border-bottom: none;
    padding: 0 35px 0 10px;
    color: #fff;
}
.nav-primary ul.level0 a:hover {
    color: #e71a0f;
}

/* Header right */

.header-buy-ticket {
    display: block;
    position: absolute;
    top: 20px;
    right: 160px;
    text-align: right;
}
.header-buy-ticket a.ticket img {
    transition: opacity 0.3s ease-in-out; /* Thêm hiệu ứng chuyển động */
}

.header-buy-ticket a.ticket:hover img {
    opacity: 0.85; /* Đặt độ mờ khi hover vào */
}
.header-buy-ticket img {
    width: 90px;
    height: 90px;
}

.main-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 !important;
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg_c_bricks.png)
        repeat-x scroll 0 124px rgba(0, 0, 0, 0);
}

.main {
    width: 980px;
    margin: 0 auto;
    margin-top: 30px;
}

/* BANNER */
.carousel-item {
    margin-bottom: 15px;
}
.carousel-item img {
     height: 551px;
    object-fit: contain;
    border-radius: 10px; /* Thêm border radius là 10px cho ảnh trong carousel */
}

.home-movie-selection {
    margin: 28px 0;
    width: 100%;
}

.home-title {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg_h3_line.jpg)
        repeat-x scroll left center rgba(0, 0, 0, 0);
    height: 60px;
    text-align: center;
    width: 100%;
}

.home-movie-selection .home-title h2 {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/h3_movie_selection.gif)
        no-repeat scroll center center / 406px 41px #fdfcf0;
    display: inline-block;
    width: 425px;
}

.home-title h2 {
    height: 60px;
    text-indent: -999999px;
    margin: 0;
}

/* Main content */
.tab-content {
    padding-bottom: 10px;
}

.curr-list {
    margin-left: -20px;
    min-height: 441px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.curr-list .num {
    position: absolute;
    left: -1px;
    bottom:0;
    z-index: 11;
    display: block;
    width: 100%;
    height: 49px;
    background: url(https://www.lottecinemavn.com/LCHS/Image/Bg/bg_w_mk.png)
        repeat-y left bottom;
    font-size: 28px;
    color: #fff;
    font-family: "linlivertine";
    font-weight: bold;
    padding: 5px 0 0 20px;
    font-style: italic;
    line-height: 45px;
    -webkit-box-sizing: border-box;
    text-align: left;
}

.curr-list a {
    display: block;
}
a {
    text-decoration: none;
    color: #555;
}
.curr-list .curr-box {
    position: relative;
    height: 334px;
}

.curr-list > li {
    position: relative;
    width: 230px;
    height: 411px;
    margin: 0 0 40px 20px;
}
.curr-list .img img {
    width: 228px;
    height: 334px;
}

.curr-list .list-text {
    margin: 0;
    border-top: 1px solid #e5e5e5;
    box-sizing: border-box;
    background-color: #fdf7dc;
}

.curr-list .list-text dt {
    padding: 12px 15px 11px 15px;
    border-bottom: 1px solid #dedede;
}

.curr-list .list-text dt a {
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #231f20;
    font-weight: bold;
}

.curr-list .list-text dd {
    display: flex;
    padding: 0 46px;
    font-size: 13px;
    color: #777;
    line-height: 30px;
    margin: 0;
}

.curr-list .list-text dd .rate {
    display: inline-block;
    /*text-wrap: nowrap;*/
}

.curr-list .list-text dd .grade {
    position: relative;
    display: inline-block;
    margin-left: 6px;
    padding-left: 8px;
}

.curr-list .list-text dd .grade::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 1px;
    height: 11px;
    background: #dfdfdf;
}

/* footer */

.footer-container {
    position: relative;
    width: 100%;
    border-top: 1px solid #ededed;
}
.footer-inner {
    width: 980px;
    margin: 0 auto;
    padding: 30px 0 20px;
}
.footer-logo {
    float: left;
}

img {
    border: 0;
    vertical-align: middle;
}

.footer-tit::after {
    content: "";
    display: block;
    clear: both;
}

.company-info {
    margin: 3px 0;
    overflow: hidden;
    color: #666;
    font-size: 12px;
    line-height: 18px;
}

.company-info p {
    margin: 0;
}


/*account*/

.container{
    margin-top:30px;
}
.my-account{
    font-size: 20px;
    display: flex;
    flex-direction: row;
}
.left-content{
    width:25%;
    padding-right: 10px;
}
.block-cotent li{
    align-items: center;
    background-color: #bfd2d9;
    color: #fff;
    height: 40px;
    padding-left: 18px;
    float: left;
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
}
.block-cotent li a{
    color: #666 ;
    margin-left: 5px !important;
    line-height: 34px !important;
    font-weight: bold;
}
.dashboard{
    flex: 1;
    padding-left: 20px;
}
.dashboard .page-title h1{
    color: #fff;
}

.page-title{
    width: 100%;
    text-align: center;
    margin-top: 0px;
    background: #222;
    height: 46px;
    margin-bottom: 25px;
}
.welcome-msg{
    color:#7f7f7f;
}
.welcome-msg .hello{
    color:#000;
    font-size: 30px;
    margin-bottom: 0px
}

.box-head{
    margin-top: 30px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}

.box-account .box-title{
    margin-top: 15px;
}

.title-my-account{
    display: inline-block;
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
    padding-right: 1%;
}

.box a{
    background: #07b5f5;
    color: #fff;
    display: inline-block;
    min-width: 85px;
    padding: 3px 8px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}

.box-content{
    font-size: 20px;
    float:left;
    width: 100%;
    margin-bottom: 10px;
    color:#7f7f7f;
}

.box-content span{
    float:left;
    width: 100%;
    display: inline;
    margin-bottom: 7px;
}

.col-7 .product-name{
    border-bottom: 2px solid #d9d6c8;
    margin-bottom: 10px;
    width: 100%;
    padding-bottom: 15px;
}

.col-7 .product-detail{
    font-size: 17px;
    font-weight: bold;
    padding: 5px 0;
}

.col-7 button{
    margin-top:20px;
    padding-left: 25px;
    background-color: #5aa16d;
    border-radius: 5px;
    display: inline-block;
    padding: 11px 24px;
    border: 0;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    font-family: Verdana, Arial, sans-serif;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}

.col-7 button:hover{
    background-color: #c93439;
}

.product-detail .detail-movie{
    font-weight: normal;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.date-movie {
    border-bottom: 2px solid #2b2b2b;
    padding-bottom: 20px;
}

.calendar {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.calendar a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    font-weight: normal;
}

.day {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.day:hover {
    background-color: #e0e0e0;
}

.date {
    font-size: 20px;
    margin-right: 10px;
}

.address {
    display: flex;
    flex-direction: column;
    width: inherit;
    gap: 5px;
    padding: 20px 0px;
    border: none;
    text-align: center;
    border-bottom: 2px solid #2b2b2b;
}

.address li {
    background: transparent;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.address li:hover {
    background-color: #cdd2d4;
}

.address ul li a{
    color:black;
}

.container .showtimes{
    width: inherit;
    padding:15px;
}

.site{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #222;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.site .title h3{
    font-weight: 400;
    color: #636363;
    font-size: 20px;
}

.site .products-grid-movie{
    margin-bottom:15px;
    padding-left: 0px;
    overflow: auto;
}

.products-grid-movie li{
    width: 125px;
    border: 2px solid #cbcabe;
    padding: 5px 10px;
    display: inline-block;
    margin-right: 15px;
    text-align: center;
    margin-top: 3px;
}


/* seat number page */

.main-container-seat-booking{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0px !important;
}

.booking-progress{
    width:100%;
    border: 2px solid #d4d3c9;
    display: block;
}

.booking-progress .page-title{
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0;
    background: #222;
    height: 46px;
    color:white;
    font-size: 15px;
    font-weight: bold;
}

.booking-progress .page-title h3{
    text-transform: uppercase;
    color: #fff;
    line-height: 32px;
    padding: 5px;
    margin: 0;
}

.top-content{
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid #d4d3c9;
    background: #fff1ce;
    margin-bottom: 20px;
    overflow: hidden;
}

.products-list p {
    margin: 0;
    font-weight: bold;
}

.screen{
    width: 100%;
    height: 45px;
    margin: 40px auto 40px;
    text-align: center;
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-screen.png) no-repeat top center transparent;
    background-size: 100% auto;
}

.seats-container {
    width: auto;
    margin: 40px auto;
    text-align: center;
}

.ticketbox .row{
    display: flex;
    justify-content: center ;
}

.seat-standard {
    border: 1px solid #01c73c;
    cursor: pointer;
}
.seat-selected {
    font-weight: bold;
    background: #b11500 !important;
    border-color: #b11500 !important;
    color:white;
}

.seat-occupied{
    background-color: #bbb;
}

.seat {
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin: 2px 1px;
    font-size: 7pt;
    padding: 1px 0;
}

.ticketbox-notice{
    display: flex;
    justify-content: center;
}
.iconlist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    position: relative; /* Thêm thuộc tính này để sử dụng pseudo-element */
}

.icon:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: 5px; /* Chuyển margin từ quy tắc chung sang quy tắc này */
}

.icon.checked:before {
    background-color: #b11500;
}

.icon.occupied:before {
    background-color: #bbb;
}

.bottom-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.minicart-wrapper {
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    background-color: black;
    color:white;
    border-radius: 5px;
    padding: 10px;
}

.minicart-wrapper ul {
    list-style-type: none;
    padding: 0;
}

.minicart-wrapper ul li {
    margin-right: 45px;
    margin-bottom: 10px;
}

.product-detail {
    display: flex;
    align-items: center;
}

.product-detail img {
    margin-right: 10px;
}

.item {
    padding: 5px;
    border-radius: 5px;
}

.item p {
    margin: 5px 0;
}

.item-first {
    display: flex;
}

.item-first .product-detail {
    flex: 1;
}

.item-first img {
    margin: 10px;
    width: 74px;
    height: 108px;
}

input[type="submit"] {
    background-color: #4CAF50; /* Màu nền */
    border: none;
    color: white; /* Màu chữ */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; /* Kích thước chữ */
    padding: 25px 60px; /* Kích thước nút */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px; /* Bo tròn viền */
}

input[type="submit"]:hover {
    background-color: #45a049; /* Màu nền hover */
}



